/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/


table {
  border: 1px #FFFFFF;
}

<style>
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

.swiper-container {
  width: auto;
  height: auto;
  margin: auto;
  z-index: 1;
}

.container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1em;
	padding: 20px;
	box-sizing: border-box;
  }
  
  .container_coorg {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1em;
	padding: 10px;
	box-sizing: border-box;
  }
  
  .container_sponsors1 {
	display: grid;
	width: 75%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1em;
	padding: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: visible;
  }
  
  .container_sponsors3 {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1em;
	padding-top: 10px;
	margin: 0 auto;
	box-sizing: border-box;
  }
  
  .container_sponsors4 {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1em;
	padding-top: 10px;
	box-sizing: border-box;
  }
  .button {
	display: grid;
	place-items: center; /* shorthand for centering both axes */
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 2em;
	transition: transform 0.2s ease-in-out;
  
	/* Optional: add visual feedback */
	border-radius: 8px;
  }
  
  .button:hover {
	transform: scale(1.05);
	background-color: transparent; /* subtle hover feedback */
  }

.mybutton {
	background-color: white;
	color: transparent;
	padding: 5px;
	border-radius: 15px;
	cursor: pointer;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin:5px;
	transition: .2s;
	&:hover {
		transform: scale(1.05);
		background-color: transparent;
	}
}

.button img {
	display: block;      /* Removes inline spacing */
	margin: 0;           /* Removes any default or inherited margin */
	padding: 0;          /* Optional, in case padding is applied */
	max-width: 100%;     /* Ensures responsiveness */
	height: auto;
  }
  
  .button img {
	display: block;
	max-width: 100%;
	height: auto;
  }
