<header>

    <div id="overlay">
        <ul class="text-center list-none text-white text-3xl">
            {{ range .Site.Menus.main }}
            <li class="p-2">
                <a href="{{ .URL | safeURL }}" >
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <nav class="flex items-center justify-between flex-wrap bg-opacity-100 p-8">
        
        <div class="block lg:hidden">
            <ul class="dropdown">
                <a class="active" aria-current="page" href="{{ .RelPermalink }}">
                    <div class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                     </div>
                </a>              
            </br>  
            
                    <div class="dropdown-content">
                        {{ range .Site.Menus.main }}
                        <a href="{{ .URL | relLangURL }}"
                            class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-black hover:opacity-60 mr-8">
                            {{ i18n .Identifier | default .Name}} 
                        </a>
                        {{ end }}
                    </div>
                  </ul>
        </div>

        <div class="items-center flex-shrink-0 text-xl text-grey-900 mr-6" >
            <a href="{{ .Site.BaseURL }}">
                <img src="/img/logo/logo1.svg" alt="logo">
            </a>

         </div>

        {{ if eq .Site.Language.Lang "en" }}
        <p class = "date">
            <font size="+4"> Montréal Cup 2024 </font>
            <br>
            <font size="+2"> September 6-7-8 </font>
            <br>
        </p>
        {{ else }}
        <p class = "date">
            <font size="+4"> Montréal Cup 2024 </font>
            <br>
            <font size="+2"> Septembre 6-7-8 </font>
            <br>
        </p>
        {{ end }}

        <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu" >
            <div class="text-lg lg:flex-grow">
            </div>
            <div class="text-lg">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL | relLangURL }}"
                    class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-black hover:opacity-60 mr-8">
                    {{ i18n .Identifier | default .Name}} 
                </a>
                {{ end }}
            </div>
            
            {{ if .Site.IsMultiLingual }}
            <nav>
                <ul>
                    {{ if eq . $.Site.Language }}
                    <li>{{ .LanguageName }}</span>
                    {{ end }}
                    <ul class="dropdown">
                        <a class="active" aria-current="page" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                        <span style="color:blue"> EN/FR </span>
                            <div class="dropdown-content">
                                {{ range $.Translations }}
                                {{ with .Translations }}
                                <nav class="language-switcher" >
                                    {{ range . }}
                                    {{ if eq .Language.Lang $.Language.Lang }}
                                        <a class="active" aria-current="page" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                                    {{ else }}
                                        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                                    {{ end }}
                                    {{ end }}
                                </nav>
                                {{ end }}
                        <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                            </div>
                          </ul>
                          {{ end }} 
                    </li>
    
                </ul>
              </nav>
    {{ end }}
        </div>
        
        <!-- <div id="hamburgerbtn" class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen" >
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div> -->
    </nav>
</header>