<!DOCTYPE html>
<html lang="{{ or .Site.Language.Lang "ja" }}">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <meta name="google-site-verification" content="F5emhcGfNrVNIF3fl1S7c3dRUUs89akLZsxAw7z-EZk" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <a href="#">
            <span class="icon-keyboard_arrow_up text-2xl"></span>
        </a>
    </div>

    <div class="mobileHide">
        {{- partial "slide.html" . -}}
    </div>

    <div class="hide-on-desktop">
    {{- partial "slide_mobile.html" . -}}
    </div>
    

    <style type="text/css">
        .swiper-container {
            display: block;
            width: 100%;
            height: auto;
            margin: 20px auto;
        }
        .swiper-slide {
            display: block;
            width: 100%;
            height: 100%;
            margin: 20px auto;
        }
        @media (max-width:768px){
        .swiper-container img{
         width: 100%;
         height: 400px;
        object-fit: cover;
        }

}
    </style>



     <!-- add co-organizers -->
      <div>
     <center>
        <br>
        {{ if eq .Site.Language.Lang "en" }}
        <p class = "date">
            <div class="mobileHide">
                <br>
                <br>
                <font size="+4"> Co-organizers </font>
            </div>
            <div class="hide-on-desktop">
                <font size="+2"> Co-organizers </font>
            </div>
        </p>
        {{ else }}
            <div class="mobileHide">
                <br>
                <br>
              <font size="+4"> Coorganisateurs </font>
             </div>
            <div class="hide-on-desktop">
              <font size="+2"> Coorganisateurs </font>
          </div>
        </p>
        {{ end }}
        <br>
        <img src="/img/logo/co-orgs.png" alt="coorgs logos" width = "80%">
        <br>

    </center>
</div>

     <!-- add sponsor logo image -->
    <center>

        {{ if eq .Site.Language.Lang "en" }}
        <p class = "date">
            <div class="mobileHide">
                <br>
                <br>
                <font size="+4"> Sponsors </font>
            </div>
            <div class="hide-on-desktop">
                <font size="+2"> Sponsors </font>
            </div>
        </p>
        {{ else }}
            <div class="mobileHide">
                <br>
                <br>
                <font size="+4"> Commanditaires </font>
             </div>
            <div class="hide-on-desktop">
                <font size="+2"> Commanditaires </font>
             </div>
        </p>
        {{ end }}
        <br>
        <img src="/img/logo/sponsor_logos.png" alt="Sponsor logos" width = "75%">
        <br>
      
    </center>

    <!-- {{- partial "strip.html" . -}} -->
    {{ if ne .Site.Params.showBlog false }}
    <div class="mx-auto my-10 max-w-6xl">
        <h2 class="text-4xl ml-2">Blog</h2>
     {{- partial "recent.html" . -}} 
    </div>
    {{ end }}
    {{- partial "footer.html" . -}}
    <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            speed: 550,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>
